#content{
    max-width: 1600px;  
}

Body{
    margin: 0 auto;
    background-color: #8ECAE6 ;
}
nav a:hover{
    text-align: center;
    background-color: #023047;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}
   
.button-box{
    text-align: center;
}

main{
    text-align: center;
}
 
#background {
    height: 725px;
}