#content{
    max-width: 1600px;  
}

Body{
    margin: 0 auto;
    background-color: #8ECAE6 ;
}
nav a{
    background-color: #023047;

}
nav a:hover{
    text-align: center;
    background-color: #023047;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
    background-color: #023047;
}

.book, .join{
    background-color:#023047 ;
}
.book:hover, .join:hover{
    background-color: #BBBF49;
}
main{
    text-align: center;
}
 
#background{
    height: 725px;
    background-color: #BBBF49;
}

.msg{
    background-color: #BBBF49;
}