@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap');

/*Body Properties*/
body {
    background-color: #ffff ;
    font-family: 'Roboto', arial, helvetica, sans-serif ;
    font-weight: normal; 
    font-size: 22px;
    margin: 0%;
    padding: 5px;
    }

#logo_link {
    padding: 5px;
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;  
    margin: 0 auto;
}

header {
    max-height: 80px;
    background-color:aliceblue;
    display: flex;
    
}

header img {
    width: 70%;
    margin-right: 10%;
    max-height: 100px;
    
}
nav {
    display:flex;
    margin-top: auto;
    gap: 20px;
   
}
nav a {
    font-size: 28px;
    text-decoration: none;
    /*background-color: #F2ACB2;*/
    color:#044bd9 ;
    text-align: center;
    padding: 30px ;
    gap: 15px;

}
nav a:hover {

    color: #f2274c ;
}

#hero {
    display: grid;
    grid-template-columns: repeat(14, 1fr);

}
#hero-box { 
    grid-column: 1/15;
    grid-row: 1;
    /*z-index: -1;*/
    width: 100%;
}
#hero-box img {
    width: 100%; 
    height: auto; 
}
#hero-msg {
    grid-column: 4/12;
    grid-row: 1/3;
    margin-top: 35%;
}

#hero-msg h1{
    margin-top: 10%;
    text-align: center;
    color: #f2274c;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2em;
}

#hero-msg h3 {
    color:  black;
    text-align: center;
}

.check{
    background-color: #f2acb2;
    color: #044bd9;
    text-decoration: none;
    font-size: 1em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.check:hover {
    background-color: #f2274c;
    color: white;

}

.button-box{
    text-align: center;
    /*background-color: #fcfbfb;*/
}

p{
    grid-column: 3/13;
    
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 16px;
    /*grid-template-rows: 1fr, 3fr, 1fr, 1fr, 0.5fr, 3fr, 0.5fr, 0.75fr, 1fr*/
}

.home-grid, h1{
    grid-column: 1/15;
    grid-row: 1/2;
    margin: 0 auto;
    padding-bottom: 5%;
}

.msg{
    grid-column: 3/8;
    grid-row: 2/3;
    text-align: left;
    font-size: 28px;
}
.profile{
    width: 100%;
    align-self: center;
    grid-column: 8/13;
    grid-row: 2/3;
}

.main {
    max-width: 100%;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 49%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content1 {
    background-color: #f1f1f1;
    padding: 10px;
  }
 

footer{
    max-height: 150px;
    background-color: #f2acb2;
    color:#044bd9;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px
}

footer a{
    color:#044bd9;
    text-decoration: none;
}

footer p a:hover{
    color:#f2274c;
    text-decoration: none;
    text-align: center;
    
}




@media screen and (max-width: 900px) {
    #hero, .home-grid, form {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: inline;
        padding: 0%;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin: 0 auto;
    }
    #hero-msg h3 {
        display: none;
        max-width: 50%;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .profile{ 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .profile, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

 
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }